<div class="listing-cards-title separator mb-4">
    <h1 class="mx-4">{{ title }}</h1>
</div>

<div id="card-container">
    {% for listing in listings %}
    <div class="card listing shadow overflow-hidden">
        <a href="{% url 'view_listing' listing_id=listing.id %}" class="stretched-link"></a>
        <img src="{% if not listing.image %}{{ default_image }}{% else %}{{ listing.image.url }}{% endif %}"
            class="card-img h-100 object-fit-cover" data="{{ listing.image }}">
        <div class="card-img-overlay d-flex flex-column justify-content-between">
            <h5 class="card-title text-white">{{ listing.title }} (${{ listing.price }})</h5>
            {% if not listing.active %}
            <div class="text-center">
                {% if listing.completed %}
                <span class="complete d-block py-2">Sold!</span>
                {% else %}
                <span class="closed d-block py-2">Canceled</span>
                {% endif %}
            </div>
            {% else %}
            <div class="card-description mb-auto text-white">
                {{ listing.description }}
            </div>
            {% endif %}
            <div class="d-flex justify-content-between">
                <div class="card-text d-inline-block text-white my-auto px-3 py-1 rounded-pill"
                    style="background-color: #{{ listing.category.hex_color_code }}">
                    {{ listing.category }}
                </div>
                <div class="card-text d-inline-block text-white fs-5 px-3 py-1">
                    <span><i class="bi bi-eye-fill"></i> {{ listing.watchers.count }}</span>
                    <span class="ps-3"><i class="bi bi-chat-left-fill"></i> {{ listing.comments.count }}</span>
                    <span class="ps-3"><i class=" bi bi-cash-coin"></i> {{ listing.bids.count }}</span>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div id="no-listings" class="overflow-hidden text-center text-no-wrap">
        <span>Nothing Found <i class="bi-emoji-frown-fill"></i></span>
    </div>
    {% endfor %}
</div>